---
pagination:
  data: corpus.frameworkDocs
  size: 1
  alias: doc
layout: base.njk
door: framework
permalink: "{{ doc.url }}"
eleventyComputed:
  title: "{{ doc.title }}"
---
{% from "document.njk" import render %}
{% from "crumb.njk" import crumb %}
{{ crumb(doc.crumb) }}
{{ render(doc, null) }}
